@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

body {
  margin: 0;
  font-family: 'Girassol', cursive;
  font-weight: 200;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}